# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
node_modules
dist

# env 
.env

# logs
./scrapper/scraped_trends_data.json
temp_downloads/
fallbacks/
fallback-*.json